<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BFS - Exactamente</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link href="/assets/css/styles.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/assets/images/logo.png">
  <script src="/assets/js/htmx.js"></script>
</head>
<body class="bg-exClaro">
  <div hx-get="/components/header.html" hx-trigger="load"></div>
  <main class="w-6/12 mx-auto mt-12">
    <h1 class="font-exTitulos text-black text-xl text-center underline font-bold mb-4">Algoritmo de Breadth-First-Search</h1>
    <div class="flex flex-row-flex-nowrap justify-center items-center">
      <a class="px-4 py-3 mb-3  font-exTitulos text-white text-lg text-center font-semibold bg-exCeleste rounded-md hover:brightness-75" href="/layouts/visualizar/bfs.html">Probar Visualizador</a>
    </div>
    
    <h2 class="mt-6 mb-2  font-exTitulos text-xl text-exVerdeOscuro font-bold">Descripción</h2>
    <p class="mb-3 font-exTexto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non elit non dui auctor gravida. Proin at metus tincidunt, faucibus tortor non, ullamcorper metus. Integer rutrum justo non nisl vulputate, faucibus venenatis ex pellentesque. Praesent accumsan, orci vitae semper gravida, orci justo luctus massa, ac accumsan sapien urna at elit. Nullam congue turpis at dictum rutrum. Curabitur posuere risus id lectus laoreet pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus quis turpis velit. Suspendisse sit amet enim finibus, iaculis sem id, convallis nunc. In laoreet leo augue, sed consequat sapien volutpat sed.</p>
    
    <h2 class="mt-6 mb-2  font-exTitulos text-xl text-exVerdeOscuro font-bold">Algoritmo</h2>
    <p class="mb-3 font-exTexto">Aliquam ut molestie urna. Aliquam in dapibus risus, sit amet dictum turpis. Nullam tempus vestibulum augue sit amet tristique. Phasellus in facilisis augue. Duis nec ullamcorper massa. Nunc condimentum cursus neque, quis maximus neque consectetur in. Nam sodales vitae est mattis eleifend. Etiam enim turpis, congue vitae tincidunt sed, tempus eget justo. Fusce eget vestibulum sapien, sit amet viverra eros.</p>
    <p class="mb-3 font-exTexto">Etiam congue libero non velit laoreet, sit amet porttitor lorem congue. Duis blandit convallis libero, vitae finibus diam pulvinar id. Sed quis pharetra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dapibus pulvinar sodales.</p>
    <img class="mx-auto mb-3  w-10/12" src="/assets/images/thumbnail_bfs.png" alt="Imagen Prueba">
    <p class="mb-3 font-exTexto">Aliquam ut molestie urna. Aliquam in dapibus risus, sit amet dictum turpis. Nullam tempus vestibulum augue sit amet tristique. Phasellus in facilisis augue. Duis nec ullamcorper massa. Nunc condimentum cursus neque, quis maximus neque consectetur in. Nam sodales vitae est mattis eleifend. Etiam enim turpis, congue vitae tincidunt sed, tempus eget justo. Fusce eget vestibulum sapien.</p>
    
    <div class="flex flex-row-flex-nowrap justify-center items-center">
      <a class="px-4 py-3 mb-3  font-exTitulos text-white text-lg text-center font-semibold bg-exCeleste rounded-md hover:brightness-75" href="/layouts/visualizar/bfs.html">Probar Visualizador</a>
    </div>
  </main>
  
  
  <!--<script type="module" src="/assets/js/main.js"></script>-->
</body>
</html>
