<header class="flex p-1  bg-exOscuro text-white">
  <a href="/" class="flex-1  flex flex-row flex-nowrap justify-start items-center  text-xl font-semibold hover:brightness-75">
    <img class="w-12 h-12" src="/assets/images/logo.png" alt="Logo Exactamente">
    <p class="font-exTitulos text-3xl"><span class="font-bold text-exCeleste">Exacta</span><span class="font-normal text-exVerde">mente</span><span class="font-bold text-exVerde">!</span></p>
  </a>
  <nav class="flex-1  flex justify-center items-center  text-lg space-x-6 ">
    <a href="/conceptos.html" class="hover:underline">Conceptos</a>
    <a href="/materias.html" class="hover:underline">Materias</a>
    <a href="/sobre.html" class="hover:underline">Sobre</a>
  </nav>
  <div class="flex-1 mr-1 flex justify-end items-center">
    <a href="https://github.com/AugustoNicola/exactamente">
      <img class="w-8 h-8 hover:brightness-75" src="/assets/images/github.png" alt="Logo GitHub">
    </a>
  </div>
</header>
  